:root {
  --background-1: #151619;
  --background-2: #1e2024;
  --background-3: #2b2d31;
  --background-4: #292929;
  --border-1: #383a40;
  --primary-1: #5865f2;
  --primary-2: rgb(71, 113, 204);
  --primary-3: rgba(71, 113, 204, 0.315);
  --primary-4: rgba(84, 138, 255, 0.37);
  --primary-5: #b6cdff;
  --primary-6: #4752c4;
  --warning-0: #ffd1d1;
  --warning-1: rgba(255, 80, 80, 0.35);
  --warning-2: rgba(255, 80, 80, 0.15);
  --white: #e6f1ff;
  --grey-1: #b6b6b6;
  --grey-2: #807f7f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--background-1);
  color: var(--white);
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--background-4) transparent;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Card section */
.card {
  max-width: 97vw;
  margin: 3vh auto 0;
  padding: 40px;

  background: transparent;

  backdrop-filter: blur(0px);
}

.card h2 {
  margin-top: -3vh;
  font-size: 2rem;
}

.card p {
  margin-top: -3vh;
  font-size: 1rem;
  color: var(--grey-1);
  font-weight: bold;
}

.card-holder {
  margin-top: -10px !important;
  display: grid;

  grid-template-columns: repeat(auto-fit, 11.5vw);
  gap: 1.85vw;
  justify-content: center;
}

.grid-box {
  background: var(--background-2);
  max-width: 22vw;
  border: 1px solid var(--border-1);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(18px) scale(0.98);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: transform, opacity;
}

.grid-box.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.grid-box:hover {
  transform: translateY(-5px);
  background: var(--background-3);
}

.grid-image img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-bottom: 1px solid var(--border-1);
}

.grid-image:hover {
  cursor: pointer;
}

.grid-box h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 15px 0 15px;
  color: var(--white);
  font-weight: bold;
}

.grid-box p {
  font-size: 0.9rem;
  margin: 0 100px 3vh 15px;
  color: var(--grey-2);
  font-weight: bold;
}

.grid-box e {
  font-size: 1rem;
  margin: 0 15px 0 15px;
  color: var(--grey-1);
  flex-grow: 1;
}

.grid-actions {
  display: flex;
  padding: 20px 15px;
}

.grid-actions button {
  flex: 1;
  margin: 0 5px;
  padding: 8px 0;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  align-items: center;
  width: 100%;
  height: 100%;
}

.install {
  background: var(--primary-1);
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.install:hover {
  background: var(--primary-6);
}

.filter-tags {
  display: flex;
  gap: 12px;
  margin: -10px 0 30px;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 4px 10px;
  background: var(--background-2);
  border: 1px solid var(--border-1);
  border-radius: 13px;

  color: var(--grey-1);
  font-size: 0.9rem;
  cursor: pointer;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35),
    0 0 0 1px rgba(255, 255, 255, 0.02);

  transition: all 0.2s ease;
}

.filter-btn:hover {
  transform: translateY(-3px);
  background: var(--background-3);
  color: var(--white);
}

.filter-btn.active {
  background: var(--primary-1);
  color: #fff;
  border-color: transparent;
}

.modal-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(6px);

  z-index: 999999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: var(--background-2);
  border: 1px solid var(--border-1);
  border-radius: 14px;
  width: 600px;
  max-width: 92vw;
  padding: 18px;
  transform: translateY(20px) scale(0.96);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal-overlay.active .modal {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.1rem;
}

.modal-close {
  background: none;
  border: none;
  color: var(--grey-1);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal-close:hover {
  color: var(--white);
  transform: rotate(10deg);
  transition: 0.2s ease;
}

.code-container {
  position: relative;
  background: var(--background-3);
  border: 1px solid var(--border-1);
  border-radius: 12px;
  padding: 14px;
  font-size: 0.85rem;
  color: var(--grey-1);
}

.code-label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--primary-2);
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.copy-code {
  position: absolute;
  top: 7px;
  right: 7px;
  background: var(--primary-1);
  border: none;
  border-radius: 8px;
  padding: 4px 6px;
  cursor: pointer;
  color: #c7d2ff;
  font-size: 13px;
}

.copy-code:hover {
  background: var(--primary-2);
  transition: 0.2s ease;
}

pre {
  margin: 10px 0 0;
  max-height: 280px;
  overflow: auto;
  white-space: pre-wrap;
}

.code-container + .code-container {
  margin-top: 14px;
}

.code-label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.8rem;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 6px;
}

.modal-warning {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  margin: 18px 0 18px 0;
  border-radius: 12px;
  background: var(--warning-2);
  border: 1px solid var(--warning-1);
  color: var(--warning-0);
  font-size: 0.85rem;
  font-weight: 500;
}

.modal-tip {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 16px;
  margin: 18px 0 18px 0;
  border-radius: 12px;

  background: var(--primary-3);

  border: 1px solid var(--primary-1);

  color: var(--primary-5);
  font-size: 0.85rem;
  font-weight: 500;
}

.modal-overlay.active .image-modal {
  transform: scale(1);
  opacity: 1;
}

.image-modal {
  position: relative;

  border-radius: 16px;
  padding: 14px;

  max-width: 90vw;
  max-height: 90vh;

  transform: scale(0.96);
  transition: transform 0.25s ease;
}

.modal-overlay.active .image-modal {
  transform: scale(1);
}

.image-modal img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 12px;
}

.image-close {
  position: absolute;
  top: 10px;
  right: -15px;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--grey-1);
  cursor: pointer;
  transition: 0.2s ease;
}

.image-close:hover {
  color: var(--white);
  transform: rotate(10deg);
}

.skin-search {
  width: 100%;
  max-width: 420px;
  margin: 0px 0 25px;

  padding: 10px 10px;
  border-radius: 12px;
  border: 1px solid var(--border-1);
  outline: none !important;

  background: var(--background-2);
  color: var(--white);
  font-size: 0.95rem;
}

.skin-search::placeholder {
  color: var(--grey-2);
}

.search-wrapper {
  position: relative;
  max-width: 410px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 30%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--grey-2);
  pointer-events: none;
}

.search-wrapper .skin-search {
  padding-left: 37px;
}

.tooltip {
  position: fixed;
  z-index: 9999999;
  pointer-events: none;

  background: var(--background-3);
  border: 1px solid var(--border-1);
  border-radius: 10px;
  padding: 8px 12px;

  color: var(--white);
  font-size: 0.85rem;
  font-weight: 600;

  box-shadow: 0 10px 30px rgba(0,0,0,0.45);

  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.15s ease, transform 0.15s ease;
}

.tooltip .type {
  color: var(--grey-1);
  font-size: 0.75rem;
  margin-top: 2px;
}

.tooltip.show {
  opacity: 1;
  transform: translateY(0);
}
